@font-face {
  font-family: 'MYRIADPRO-BOLD';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('MYRIADPRO-BOLD.woff2') format('woff2'),
       url('MYRIADPRO-BOLD.otf') format('opentype'),
       url('myriadpro-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Colatin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Colatin.woff2') format('woff2'),
       url('Colatin.otf') format('opentype'),
       url('colatin_.ttf') format('truetype');
}
